@import '../abstract/variables';

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    padding: 50px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 20px;
    .btn-modal{
        width: 50%;
        text-align: center;
        padding-top: 4rem;
    }
    .txt-modal{
        padding-top: 2rem;
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
    }
  }
  
  /* The Close Button */
  .close {
    padding: 4px;
    border-radius: 10px;
    background-color: rgba(0, 60, 255, 0.384);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: $primaryColor;
    text-decoration: none;
    cursor: pointer;
  }







.top-content {
    @include centered();
    width: 100%;
    .main-title {
        width: 60%;
        h1 {
            font-weight: bold;
            font-size: 1.2rem;
            text-align: left;
            padding: 3% 0 3% 0;
        }
    }
    .navigation {
        @include centered();
        flex-direction: row;
        width: 100%;
        margin-bottom: 3%;
        .nav-buttons {
            @include centered();
            flex-direction: row;
            width: 60%;
            .nav-btn {
                width: 35%;
                padding: 15px;
                background-color: white;
                outline: none;
                border: none;
                border-bottom: 2px solid $secondaryColor;
                cursor: pointer;
                &:hover {
                    background-color: rgb(236, 236, 255);
                    transition: 360ms ease-in-out;
                }
            }
            
            .selected-btn {
                border-bottom: 2px solid $primaryColor;
                color: $primaryColor;
            }
        }
    }
}

#error-alert{
    color: red;
    font-weight: bold;
    font-size: 14px;
}

#inpHeart{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    border: 2px solid rgb(182, 180, 180);
    border-radius: 0 5px 5px 0;
    border-left:0px;
    padding: 8px;
}

#input{
    display: flex;
    width: 100%;
    &:hover {
        background-color: rgb(240, 240, 240);
        transition: 240ms ease-in-out;
    }
}


#input{
    align-items: center;
}

.form-container {
    @include centered();
    .form {
        @include centered();
        width: 60%;
        .form-group {
            @include centered();
            margin-bottom: 3%;
            width: 100%;
            label {
                align-self: flex-start;
                font-size: small;
                color: gray;
                margin-bottom: 0.5%;                
            }
            input {
                width: 100%;
                align-self: flex-start;
                padding: 10px 0 10px 10px;
                outline: none;
                border: 2px solid rgb(182, 180, 180);
                border-radius: 5px;
                &:hover {
                    background-color: rgb(240, 240, 240);
                    transition: 240ms ease-in-out;
                }

            }
        }
        .ocult{
            display: none;
        }
        .certificates{
            width: 100%;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
        }
        .cert{
            display: flex;
            flex-direction: row;
            align-items: stretch;
            .delete{
                font-size: 15px;
                padding: 10px 15px 10px 15px;
                color: rgba(255, 0, 0, 0.5);
                outline: none;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background-color: white;
                &:hover{
                    color:  white;
                    background-color:rgba(255, 0, 0, 0.5);
                }
            }
            .edit{
                font-size: 15px;
                padding: 10px 15px 10px 15px;
                color: rgba(0, 0, 0, 0.5);
                outline: none;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background-color: white;
            }
            .edit2{
                font-size: 15px;
                padding: 10px 15px 10px 15px;
                background-color: rgba(0, 102, 255, 0.384);
                outline: none;
                border: none;
                cursor: pointer;
                border-radius: 5px;
            }
        }
        //Button Add Certificates
        .btn-container {
            @include centered();
            width: 100%;
            .ocult{
                display: none;
            }
            .more-btn {
                align-self: flex-end;
                padding: 10px 10px 10px 10px;
                background-color: $primaryColor;
                color: white;
                outline: none;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                display: flex;
                align-items: center;
                &:hover {
                    background-color: $primaryColor*0.8;
                    transition: 240ms ease-in-out;                        
                }
                .add{
                    padding-right: 7px;
                }
                .target{
                    padding-left: 7px;
                }
            }
        }

        .form-footer {
            @include centered();
            width: 100%;
            .check-group {
                @include centered();
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                #terms-check {
                    transform: scale(1.6);
                    margin-right: 2%;
                    outline: none;
                    &:checked{
                        box-shadow: 0 3px 5px 0 rgb(182, 182, 182);
                    }
                }        
            }
            .btn-container {
                @include centered();
                width: 100%;
                .continue-btn {
                    align-self: flex-end;
                    padding: 10px 12px 10px 10px;
                    margin-top: 57px;
                    margin-bottom: 50px;
                    background-color: $primaryColor;
                    background-image: url(../../images/white-arrow.png);
                    background-repeat: no-repeat;
                    background-position: center right 10px;
                    color: white;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                    &:hover {
                        background-color: $primaryColor*0.8;
                        transition: 240ms ease-in-out;                     
                    }
                    img{
                        padding-right: 9px;
                    }   
                }
            }
        }
        .requireds{
            width: 100%;
            margin-top: 68px;
        }
    }
}

#heart{
    font-size: 20px;
    padding: 10px 10px 0 0;
}
#heart-selected{
    padding: 10px 10px 0 0;
    font-size: 20px;
    color: $primaryColor;
    order: -1;
}
#row{
    order: -1;
}

@media screen and (max-width: 768px){
    * {
        font-size: 0.8rem;
    }
    .top-content {
        .main-title {
            width: 80%;
            h1 {
                padding: 5% 0 3% 0;
            }
        }
        .navigation {
            .nav-buttons {
                width: 80%;
            }
        }
    }

    .form-container {
        .form {
            width: 80%;
        }
    }

}

@media screen and (max-width: 425px){
    * {
        font-size: 0.7rem;
    }
    .top-content {
        .main-title {
            h1 {
                padding: 10% 0 3% 0;
            }
        }
        .navigation {
            margin-bottom: 5%;
        }
    }

    .form-container {
        .form {
            .form-group {
                margin-bottom: 7%;            
            }       
        
            .birthdate-age {
                margin-bottom: 5%;
                .birthdate-title {
                    margin-bottom: 1%;
                }
                .birthdate-data {
                    .birth-group {    
                        width: 23%;                
                    }
                }
            }
            .form-footer {
                .check-group {
                    margin-bottom: 3%;
                    #terms-check {
                        margin-right: 3%;
                    }
                }
            }
        }
    }
    #inpHeart{
        padding: 6.6px;
    }
}

@media screen and (max-width: 375px) {
    * {
        font-size: 0.6rem;
    }
    .top-content {
        .main-title {
            h1 {
                padding: 10% 0 8% 0;
            }
        }
    }
    .btn-container{
        button{
            width: 100%;
        }
        #add{
            justify-content: center;
        }
    }
    @include centered();

    //MODAL

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
      /* Modal Content */
      .modal-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #fefefe;
        margin: auto;
        margin-top: 50%;
        padding: 30px;
        border: 1px solid #888;
        width: 50%;
        border-radius: 20px;
        .btn-modal{
            width: 50%;
            text-align: center;
            padding-top: 4rem;
        }
        .txt-modal{
            text-align: center;
            margin-bottom: -30px;
        }
      }
      
      /* The Close Button */
      .close {
        padding: 4px;
        border-radius: 10px;
        background-color: rgba(0, 60, 255, 0.384);
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        margin-left: -5px;
      }
      
      .close:hover,
      .close:focus {
        color: $primaryColor;
        text-decoration: none;
        cursor: pointer;
      }
    

    #inpHeart{
        padding: 6px;
    }

}