@import '../abstract/variables';

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    @include centered();
    background-color: #fefefe;
    margin: auto;
    padding: 50px;
    border: 5px solid #888;
    width: 50%;
    border-radius: 20px;

    .btn-modal{
        text-align: center;
        padding-top: 4rem;
    }
    .txt-modal{
        font-size: 25px;
        text-align: center;
        font-weight: bold;
    }
  }
  
  /* The Close Button */
  .close {
    padding: 10px 30px 10px 10px;
    background-color: $primaryColor;
    background-image: url(../../images/check.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
        background-color: $primaryColor*0.8;
        transition: 240ms ease-in-out;                        
    }
  }

.top-content {
    @include centered();
    width: 100%;
    .main-title {
        width: 60%;
        h1 {
            font-weight: bold;
            font-size: 1.2rem;
            text-align: left;
            padding: 3% 0 3% 0;
        }
    }
    .navigation {
        @include centered();
        flex-direction: row;
        width: 100%;
        margin-bottom: 3%;
        .nav-buttons {
            @include centered();
            flex-direction: row;
            width: 60%;
            .nav-btn {
                width: 35%;
                padding: 15px;
                background-color: white;
                outline: none;
                border: none;
                border-bottom: 2px solid $secondaryColor;
                cursor: pointer;
                &:hover {
                    background-color: rgb(236, 236, 255);
                    transition: 360ms ease-in-out;
                }
            }
            
            .selected-btn {
                border-bottom: 2px solid $primaryColor;
                color: $primaryColor;
                transition: 360ms ease-in-out;
            }
        }
    }
}

#inpHeart{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    border: 2px solid rgb(182, 180, 180);
    border-radius: 0 5px 5px 0;
    border-left:0px;
    padding: 8px;
    cursor: pointer;
}

#input{
    display: flex;
    align-items: center;
    width: 100%;
    &:hover {
        background-color: rgb(240, 240, 240);
        transition: 240ms ease-in-out;
    }
}

.form-container {
    @include centered();
    .form1, .form2, .form3 {
        @include centered();
        width: 60%;
        .form-group {
            @include centered();
            margin-bottom: 3%;
            width: 100%;
            label {
                align-self: flex-start;
                font-size: small;
                color: gray;
                margin-bottom: 0.5%;                
            }
            input {
                width: 100%;
                align-self: flex-start;
                padding: 10px 0 10px 10px;
                outline: none;
                border: 2px solid rgb(182, 180, 180);
                border-radius: 5px;
                &:hover {
                    background-color: rgb(240, 240, 240);
                    transition: 240ms ease-in-out;
                }
            }
        }
        .row {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 5%;
            .form-email {
                display: flex;
                flex-direction: column;
                width: 65%;
                input {
                    width: 100%;
                }
            }

            .form-phone {
                display: flex;
                flex-direction: column;
                width: 30%;
                input {
                    align-self: flex-start;
                    width: 100%;
                }
            }
        }
        .birthdate-age {
            @include centered();
            width: 100%;
            .birthdate-title {
                width: 100%;
                h2 {
                    text-align: left;
                    font-size: 1rem;
                    color: gray;
                    margin-bottom: 2%;
                }
            }
            .birthdate-data {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 5%;
                .birth-group {
                    @include centered();
                    width: 20%;
                    label {
                        align-self: flex-start;
                        font-size: small;
                        color: gray;
                        margin-bottom: 2%;
                    }
                    select {
                        width: 100%;
                        align-self: flex-start;
                        outline: none;
                        padding: 10px;
                        border: 2px solid rgb(182, 180, 180);
                        border-radius: 5px;
                        color: gray;
                    }                    
                }
                .age {
                    input {
                        width: 100%;
                        outline: none;
                        padding: 10px 0 10px 10px;
                        border: 2px solid rgb(182, 180, 180);
                        border-radius: 5px;
                    }
                }
            }
        }
        .form-footer {
            @include centered();
            width: 100%;
            .check-group {
                @include centered();
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                #terms-check {
                    transform: scale(1.6);
                    margin-right: 2%;
                    outline: none;
                    &:checked{
                        box-shadow: 0 3px 5px 0 rgb(182, 182, 182);
                    }
                }
            }
            .btn-container {
                @include centered();
                width: 100%;
                .continue-btn, .next-btn, .finish-btn{
                    align-self: flex-end;
                    padding: 10px 30px 10px 10px;
                    background-color: $primaryColor;
                    background-image: url(../../images/white-arrow.png);
                    background-repeat: no-repeat;
                    background-position: center right 10px;
                    color: white;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                    &:hover {
                        background-color: $primaryColor*0.8;
                        transition: 240ms ease-in-out;                        
                    }
                    img{
                        padding-right: 9px;
                    }  
                }
            }
        }        
        .morebtn-container {
            @include centered();
            width: 100%;
            .more-btn {
                align-self: flex-end;
                padding: 10px 10px 10px 10px;
                background-color: $primaryColor;
                color: white;
                outline: none;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                display: flex;
                align-items: center;
                &:hover {
                    background-color: $primaryColor*0.8;
                    transition: 240ms ease-in-out;                        
                }
                .add{
                    padding-right: 7px;
                }
                .target{
                    padding-left: 7px;
                }
            }
        }
        .ocult{
            display: none;
        }
        .certificates{
            width: 100%;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
        }
        .cert{
            display: flex;
            flex-direction: row;
            align-items: stretch;
            .delete{
                font-size: 15px;
                padding: 10px 15px 10px 15px;
                color: rgba(255, 0, 0, 0.5);
                outline: none;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background-color: white;
                &:hover{
                    color:  white;
                    background-color:rgba(255, 0, 0, 0.5);
                }
            }
            .edit{
                font-size: 15px;
                padding: 10px 15px 10px 15px;
                color: rgba(0, 0, 0, 0.5);
                outline: none;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background-color: white;
            }
            .edit2{
                font-size: 15px;
                padding: 10px 15px 10px 15px;
                background-color: rgba(0, 102, 255, 0.384);
                outline: none;
                border: none;
                cursor: pointer;
                border-radius: 5px;
            }
        }
    }
}

.list-page {
    @include centered();
    width: 100%;
    .top-content-list-page {
        @include centered();
        width: 60%;
        .main-title {
            width: 100%;
            h1 {
                text-align: left;
                margin: 5% auto;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
        .navigation {
            @include centered();
            width: 100%;
            .nav-buttons-list-page {
                @include centered();
                width: 100%;
                button {
                    width: 100%;
                    padding: 15px;
                    background-color: white;
                    outline: none;
                    border: none;
                    border-bottom: 2px solid $primaryColor;
                    margin-bottom: 5%;
                    cursor: pointer;
                    &:hover {
                        background-color: rgb(236, 236, 255);
                        transition: 360ms ease-in-out;
                    }
                }
            }
        }
    }
    .profiles-container {                
        @include centered();
        width: 60%;
        .cards-container {
            @include centered();
            width: 100%;
            border: 2px solid $primaryColor;
            border-radius: 20px;
            h3 {
                text-align: center;
                border-top: 8px solid $primaryColor;
                font-size: 1.2rem;
                padding-top: 20px;
                margin: 5% auto;
            }
            div {
                @include centered();
                width: 90%;
                li {
                    width: 100%;
                    text-align: left;
                    list-style: none;
                    margin-bottom: 2%;
                }
            }
        }
    }
    .home-button {
        margin: 5% auto;
        width: 60%;
        #modal-finish {
            align-self: flex-end;
            padding: 10px 30px 10px 10px;
            background-color: $primaryColor;
            background-image: url(../../images/white-arrow.png);
            background-repeat: no-repeat;
            background-position: center right 10px;
            width: 100%;
            color: white;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            &:hover {
                background-color: $primaryColor*0.8;
                transition: 240ms ease-in-out;                        
            }
        }
    }
}

#heart{
    font-size: 20px;
    padding: 10px 10px 0 0;
}

#heart-selected{
    padding: 10px 10px 0 0;
    font-size: 20px;
    color: $primaryColor;
    order: -1;
}

#row{
    order: -1;
}

@media screen and (max-width: 768px){
    * {
        font-size: 0.8rem;
    }
    .top-content {
        .main-title {
            width: 80%;
            h1 {
                padding: 5% 0 3% 0;
            }
        }
        .navigation {
            .nav-buttons {
                width: 80%;
            }
        }
    }

    .form-container {
        .form1, .form2, .form3 {
            width: 80%;
        }
    }
}

@media screen and (max-width: 425px){
    * {
        font-size: 0.7rem;
    }
    
    #inpHeart{
        padding: 6.4px;
    }
    .top-content {
        .main-title {
            h1 {
                padding: 10% 0 3% 0;
            }
        }
        .navigation {
            margin-bottom: 5%;
        }
    }

    .form-container {
        .form1, .form2, .form3 {
            .form-group {
                margin-bottom: 7%;            
            }       
        
            .birthdate-age {
                margin-bottom: 5%;
                .birthdate-title {
                    margin-bottom: 1%;
                }
                .birthdate-data {
                    .birth-group {    
                        width: 23%;                
                    }
                }
            }
            .form-footer {
                .check-group {
                    margin-bottom: 3%;
                    #terms-check {
                        margin-right: 3%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    * {
        font-size: 0.6rem;
    }
    .top-content {
        .main-title {
            h1 {
                padding: 8% 0 8% 0;
            }
        }
    }
    #inpHeart{
        padding: 4px;
    }
    .form-container {
        .form1, .form2, .form3 {
            .form-group {
                input {
                    padding: 8px;
                }
            }

            .row {
                .form-email {
                    width: 60%;
                    input {
                        padding-right: 0;
                    }
                }
                .form-phone {
                    width: 35%;
                    input {
                        padding-right: 0;
                    }
                }
            }

            .birthdate-age {
                .birthdate-data {
                    margin: 0;
                    flex-wrap: wrap;
                    .birth-group {
                        width: 35%;
                        select {
                            padding: 8px;
                            margin-bottom: 5%;
                        }
                    }
                }
            }

            .form-footer {
                .check-group {
                    #terms-check {
                        transform: scale(1.4);
                    }        
                }
            }
        }
    }
    .btn-container, .morebtn-container{
        button{
            width: 100%;
        }
        #add{
            justify-content: center;
        }
    }

    @include centered();

    //MODAL
    /* Modal Content */
    .modal-content {
        margin-top: 50%;
        padding: 30px;
        .txt-modal{
            font-size: 25px;
            margin-bottom: -30px;
        }
    }
      
      /* The Close Button */
    .close {
        margin-left: -5px;
    }
}

@media screen and (max-width: 320px) {
    .top-content {
        .main-title {
            h1 {
                padding: 10% 0 8% 0;
            }
        }
    }

    .form-container {
        .form1, .form2, .form3 {
            .form-footer {
                .check-group {
                    margin-bottom: 5%;
                    #terms-check {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}