*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 20px;
}

.modal-content .btn-modal {
  width: 50%;
  text-align: center;
  padding-top: 4rem;
}

.modal-content .txt-modal {
  padding-top: 2rem;
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}

/* The Close Button */
.close {
  padding: 4px;
  border-radius: 10px;
  background-color: rgba(0, 60, 255, 0.384);
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #074EE8;
  text-decoration: none;
  cursor: pointer;
}

.top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.top-content .main-title {
  width: 60%;
}

.top-content .main-title h1 {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  padding: 3% 0 3% 0;
}

.top-content .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
  margin-bottom: 3%;
}

.top-content .navigation .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 60%;
}

.top-content .navigation .nav-buttons .nav-btn {
  width: 35%;
  padding: 15px;
  background-color: white;
  outline: none;
  border: none;
  border-bottom: 2px solid #E2E2E2;
  cursor: pointer;
}

.top-content .navigation .nav-buttons .nav-btn:hover {
  background-color: #ececff;
  -webkit-transition: 360ms ease-in-out;
  transition: 360ms ease-in-out;
}

.top-content .navigation .nav-buttons .selected-btn {
  border-bottom: 2px solid #074EE8;
  color: #074EE8;
}

#error-alert {
  color: red;
  font-weight: bold;
  font-size: 14px;
}

#inpHeart {
  color: black;
  font-size: 20px;
  text-decoration: none;
  border: 2px solid #b6b4b4;
  border-radius: 0 5px 5px 0;
  border-left: 0px;
  padding: 8px;
}

#input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#input:hover {
  background-color: #f0f0f0;
  -webkit-transition: 240ms ease-in-out;
  transition: 240ms ease-in-out;
}

#input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.form-container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 60%;
}

.form-container .form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 3%;
  width: 100%;
}

.form-container .form .form-group label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: small;
  color: gray;
  margin-bottom: 0.5%;
}

.form-container .form .form-group input {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 0 10px 10px;
  outline: none;
  border: 2px solid #b6b4b4;
  border-radius: 5px;
}

.form-container .form .form-group input:hover {
  background-color: #f0f0f0;
  -webkit-transition: 240ms ease-in-out;
  transition: 240ms ease-in-out;
}

.form-container .form .ocult {
  display: none;
}

.form-container .form .certificates {
  width: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container .form .cert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.form-container .form .cert .delete {
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  color: rgba(255, 0, 0, 0.5);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}

.form-container .form .cert .delete:hover {
  color: white;
  background-color: rgba(255, 0, 0, 0.5);
}

.form-container .form .cert .edit {
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}

.form-container .form .cert .edit2 {
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  background-color: rgba(0, 102, 255, 0.384);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-container .form .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.form-container .form .btn-container .ocult {
  display: none;
}

.form-container .form .btn-container .more-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px 10px 10px 10px;
  background-color: #074EE8;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form .btn-container .more-btn:hover {
  background-color: #063eba;
  -webkit-transition: 240ms ease-in-out;
  transition: 240ms ease-in-out;
}

.form-container .form .btn-container .more-btn .add {
  padding-right: 7px;
}

.form-container .form .btn-container .more-btn .target {
  padding-left: 7px;
}

.form-container .form .form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.form-container .form .form-footer .check-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
  align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form-container .form .form-footer .check-group #terms-check {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  margin-right: 2%;
  outline: none;
}

.form-container .form .form-footer .check-group #terms-check:checked {
  -webkit-box-shadow: 0 3px 5px 0 #b6b6b6;
          box-shadow: 0 3px 5px 0 #b6b6b6;
}

.form-container .form .form-footer .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.form-container .form .form-footer .btn-container .continue-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px 12px 10px 10px;
  margin-top: 57px;
  margin-bottom: 50px;
  background-color: #074EE8;
  background-image: url(../../images/white-arrow.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-container .form .form-footer .btn-container .continue-btn:hover {
  background-color: #063eba;
  -webkit-transition: 240ms ease-in-out;
  transition: 240ms ease-in-out;
}

.form-container .form .form-footer .btn-container .continue-btn img {
  padding-right: 9px;
}

.form-container .form .requireds {
  width: 100%;
  margin-top: 68px;
}

#heart {
  font-size: 20px;
  padding: 10px 10px 0 0;
}

#heart-selected {
  padding: 10px 10px 0 0;
  font-size: 20px;
  color: #074EE8;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

#row {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media screen and (max-width: 768px) {
  * {
    font-size: 0.8rem;
  }
  .top-content .main-title {
    width: 80%;
  }
  .top-content .main-title h1 {
    padding: 5% 0 3% 0;
  }
  .top-content .navigation .nav-buttons {
    width: 80%;
  }
  .form-container .form {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  * {
    font-size: 0.7rem;
  }
  .top-content .main-title h1 {
    padding: 10% 0 3% 0;
  }
  .top-content .navigation {
    margin-bottom: 5%;
  }
  .form-container .form .form-group {
    margin-bottom: 7%;
  }
  .form-container .form .birthdate-age {
    margin-bottom: 5%;
  }
  .form-container .form .birthdate-age .birthdate-title {
    margin-bottom: 1%;
  }
  .form-container .form .birthdate-age .birthdate-data .birth-group {
    width: 23%;
  }
  .form-container .form .form-footer .check-group {
    margin-bottom: 3%;
  }
  .form-container .form .form-footer .check-group #terms-check {
    margin-right: 3%;
  }
  #inpHeart {
    padding: 6.6px;
  }
}

@media screen and (max-width: 375px) {
  * {
    font-size: 0.6rem;
  }
  .top-content .main-title h1 {
    padding: 10% 0 8% 0;
  }
  .btn-container button {
    width: 100%;
  }
  .btn-container #add {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }
  /* Modal Content */
  .modal-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    margin-top: 50%;
    padding: 30px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 20px;
  }
  .modal-content .btn-modal {
    width: 50%;
    text-align: center;
    padding-top: 4rem;
  }
  .modal-content .txt-modal {
    text-align: center;
    margin-bottom: -30px;
  }
  /* The Close Button */
  .close {
    padding: 4px;
    border-radius: 10px;
    background-color: rgba(0, 60, 255, 0.384);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-left: -5px;
  }
  .close:hover,
  .close:focus {
    color: #074EE8;
    text-decoration: none;
    cursor: pointer;
  }
  #inpHeart {
    padding: 6px;
  }
}
/*# sourceMappingURL=style.css.map */